{% extends 'article_index_base.html'%}
{% block title %} 蘇惠珍皮膚科診所 {% endblock %}
{% load i18n static %}
{% load staticfiles cropping %}

{% block cssstyle1 %}
    <meta property="fb:admins" content="a71176461">
    <meta property="fb:app_id" content="185799531790979">

    <style>
        .imageTop{
        {#            top: -30vh;#}
            position: relative;
            z-index: -100;
        }
        .relative{
            position: relative;
        }
        .absolute{
            position: absolute;
        }
        .h2{
            background-color: rgba(0,0,0,0.4);
            font-size: 40px;
            color: #fff;
        }
        @media (min-width: 801px) {
            .h2{
                background-color: rgba(0,0,0,0.4);
                font-size: 40px;
                color: #fff;
            }
        }
        @media (max-width: 800px) {
            .h2{
                background-color: rgba(0,0,0,0.4);
                font-size: 20px;
                color: #fff;
            }
        }

        .borderbm{
            border-bottom: 2px solid #FA82CC;
        }

        .imagecon{
            position: relative;
            height: 60vh;
            z-index: 100;
        }

        .nav-stacked{
            background: rgba(0,0,0,.1);
        }
        ul > li> a:hover{
            color: #FA82CC;
        }
        {#        #bgtask{#}
        {#            background: rgba(0,0,0,.1);#}
        {#        }#}
    </style>
{% endblock cssstyle1 %}


{% block content %}
    <div class="fuild-container ">
        <div class="relative">
            {% if blog_detail.cropping %}
                somthing
            {% else %}
                nothing
            {% endif %}
            <img src="{% cropped_thumbnail blog_detail 'cropping' %}" class="img-responsive imageTop" >
            <div class="relative container" style="z-index:10;top: -120px;">
                <span class="h2 col-md-offset-1">{{ blog_detail.title }}</span>
            </div>
        </div>


    </div>

    <div class="fuild-container" id="blog_content" style="top: -50px;position: relative;">
        {#        <img src="/media/{{ blog.images }}" class="img-responsive" style="top: -100px;;position: relative;" >#}
        <div class="container" style="padding-top: 30px;">

            <div class="container" style="color: white;">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <h4 class="col-md-2 col-md-offset-1 borderbm">分類：{{ blog_detail.category }}</h4>
                        </div>
                        <div class="row g-pt-20">
                            <div class="col-md-9 col-md-offset-1" id="content_upload1">{{ blog_detail.content_upload|safe }}</div>
                        </div>
                    </div>
                    <div class="col-md-3" id="bgtask">
                        <ul class="nav nav-stacked">
                            <li><a href="{% url 'blog_index' %}">文章首頁</a></li>
                            {% for category in categories %}
                                <li><a href="/blog/{{ category.pk }}">{{ category.name }}</a></li>
                            {% endfor %}

                        </ul>
                        {#                        <ul>#}
                        {#                            <li>page_obj: {{ page_obj }}</li>#}
                        {#                            <li>blog_list: {{ blog_list }}</li>#}
                        {#                            <li>object_list: {{ object_list }}</li>#}
                        {#                            <li>object: {{ object }}</li>#}
                        {#                            <li>blog_detail: {{ blog_detail }}</li>#}
                        {#                        </ul>#}
                    </div>

                </div>

            </div>


        </div>

        <div class="container g-pt-40">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="fb-comments" data-href="http://localhost:8000/{{ request.get_full_path }}" data-numposts="25" width="100%" order_by="reverse_time"></div>
                    <div class="fb-like" data-href="https://www.facebook.com/蘇惠珍皮膚科診所-364805010383895/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                </div>
            </div>

        </div>


    </div>


    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.5&appId=185799531790979";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}


{% block JSblock %}

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-74959851-1', 'auto');
        ga('send', 'pageview');

    </script>

{% endblock JSblock %}